@model HomeViewModel

<partial name="SearchWidgetPartial" />

<div class="headerTags col s12">
    <div>Filter By Category:</div>
    <div>
        <partial name="SmallBtnLinksPartial" model="new TopHeadlinesCategoryViewModel { TopHeadlinesCategories = @ApiUtils.TopHeadlinesCategories, CurrentCategory = Model.Category }" />
    </div>
</div>

@if (Model != null)
{
    foreach (var article in Model.Headlines.Articles)
    {
        <partial name="ArticleCardPartial" model="article" />
    }
}

<partial name="Paginator" model="Model" />