@model HomeViewModel

<partial name="SearchWidgetPartial" />

<div class="headerTags col s12">
    @Model.Headlines.TotalResults Search Results For: <a class="waves-effect waves-light btn-small green" asp-route-q="@Model.Query">@Model.Query</a>
</div>

@if (Model != null)
{
    foreach (var article in Model.Headlines.Articles)
    {
        <partial name="ArticleCardPartial" model="article" />
    }
}

<partial name="SearchPaginator" model="Model" />