<a asp-area="" asp-controller="Download" asp-action="GujaratSamacharRajkot" class="col mt-50 m6 offset-m3 s10 offset-s1 waves-effect waves-light btn btn-large deep-purple">Gujarat Samachar</a>
<a asp-area="" asp-controller="Download" asp-action="DivyaBhaskarRajkot" class="col mt-50 m6 offset-m3 s10 offset-s1 waves-effect waves-light btn btn-large deep-purple mb-50">Divya Bhaskar</a>