@model TopHeadlinesCategoryViewModel

@foreach (var link in Model.TopHeadlinesCategories)
{
    <a class="waves-effect waves-light btn-small @(Model.CompareCategories(link) ? "green" : "deep-purple") deep-purple" asp-route-category="@link">@link</a>
}